*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5454;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 1rem  rgba(0,0,0,1);
    font-size: 8vmin;
    color: black;
    background-color: #efeb96;
    

}

.msg-container{
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: centre;
    align-items: centre;
    flex-direction: column;
    gap: 4rem;
}
.new-btn{
    height: 8vmin;
    padding: 1rem;
   font-size: 2.25vmin;
   color: rgb(240, 229, 229);
   background-color: black;
   border:none;
   border-radius: 1rem;
}

.msg{
    color: black;
    font-size: 8vmin;

}
.hide{
    display: none;
}
.resetbtn{
    padding: 1rem;
    font-size: 1.25;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    border-radius: 1rem;
    border: none;
}